.backgrounded {
	background-image: url('https://keybase.pub/walkersneps/website/refs/sea.jpg');
	background-position: center;
	background-size: auto;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: sans-serif;;
}
